@import "./public/styles/fonts.scss";
@import "./public/styles/colors.scss";
@import "./public/styles/grid.scss";
@import "./public/styles/mixins.scss";

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: $background_light;
}

.container {
  @include container;
}

header {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  .container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    .logo {
      display: flex;
      column-gap: 8px;
      h2 {
        font-size: 18px;
        font-weight: 600;
        align-self: center;
      }
      img {
        width: 2.375rem;
        align-self: center;
      }
    }
    nav {
      align-self: center;
      margin-left: 9rem;
      ul {
        display: flex;
        list-style: none;
        column-gap: 2rem;
        li a {
          @include H18;
          color: $text_light;
          text-decoration: none;
        }
      }
    }
    .header_btns {
      display: flex;
      column-gap: 1.5rem;
      margin-left: auto;
      & * img {
        cursor: pointer;
      }
      & > * {
        display: flex;
        align-self: center;
        column-gap: 0.4rem;
        @include H18;
      }
      .tickets {
        background-color: $blue;
        padding: 7px;
        @include rounded;
        text-decoration: none;
        color: #ffffff;
        img {
          align-self: center;
        }
      }
    }
  }
}

main {
  .main-banner {
    .container {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    display: flex;
    justify-content: center;
    .banner {
      position: relative;
      background: url(images/mainBanner.png) no-repeat;
      @include rounded;
      width: 53rem;
      height: 25rem;
      margin-left: 18rem;
    }
    h2 {
      position: absolute;
      @include H48;
      width: 30rem;
      background-color: $secondary_background_light;
      @include rounded;
      padding: 2.5rem 1.75rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .aboutus {
    .container {
      margin-top: 7.5rem;
      display: flex;
    }
    .content {
      padding: 3.125rem 3.75rem;
      h2 {
        @include H42;
        margin-bottom: 1rem;
      }
      p {
        @include H16Light;
      }
    }
  }
  .ourExhibits {
    margin-top: 7.5rem;
    text-align: center;
    h2 {
      @include H42;
      margin: 0.625rem 0 1.25rem 0;
    }
    p {
      width: 53rem;
      margin: 0 auto;
    }
    .cards {
      display: flex;
      flex-direction: column;
      .card {
        &:nth-child(2n) {
          margin-left: auto;
        }
        flex: 1;
        margin-top: 3rem;
        display: flex;
        column-gap: 9rem;
        .content {
          margin-top: 0.625rem;
          max-width: 28rem;
          h2 {
            @include H24;
          }
          p {
            width: auto;
            text-align: justify;
          }
        }
      }
    }
    .btn {
      @include button;
      margin-top: 4rem;
    }
  }
  .whyVisit {
    margin-top: 7.5rem;
    .container {
      .card {
        @include rounded;
        display: flex;
        justify-content: space-between;
        background-color: $secondary_background_light;
        .content {
          align-self: center;
          max-width: 38rem;
          margin: 0 4.5rem;
          p {
            margin: 1rem 0;
          }
          .btn {
            @include button;
          }
        }
      }
    }
  }
  .gallery {
    .container {
      margin-top: 7.5rem;
      .main-row {
        display: flex;
        .content {
          margin: 3.5rem 3rem;
          max-width: 33rem;
          h2 {
            @include H32;
            margin-bottom: 2rem;
          }
          p {
            @include H16Light;
          }
        }
      }
      .second-row {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        & > img {
          width: 30%;
          cursor: pointer;
        }
      }
    }
  }
  .feedback {
    .container {
      margin-top: 7.5rem;
      display: flex;
      column-gap: 1.5rem;
      .review {
        @include rounded;
        padding: 2rem;
        background-color: $secondary_background_light;
        .row {
          display: flex;
          justify-content: space-between;
          .visitor {
            display: flex;
            column-gap: 1rem;
            & > * {
              align-self: center;
            }
            h2 {
              @include H16;
            }
            p {
              @include H16Light;
              color: gray;
            }
          }
          .rate {
            display: flex;
            p {
              margin-right: 1rem;
              @include H24;
              font-weight: 300;
              align-self: center;
            }
            img {
              margin-right: 3px;
              align-self: center;
            }
          }
        }
        & > p {
          margin-top: 1rem;
        }
      }
      & > img {
        align-self: center;
        padding: 4.5rem 8rem;
        background-color: $secondary_background_light;
        @include rounded;
      }
    }
  }
  .slider {
    .container {
      padding: 0;
      margin: 7.5rem 3rem 0 3rem;
      .row {
        display: flex;
        justify-content: space-between;
        h2 {
          @include H32;
        }
        .btns {
          display: flex;
          column-gap: 2rem;
          img {
            cursor: pointer;
          }
        }
      }
      .slider_images {
        margin-top: 3rem;
        display: flex;
        column-gap: 2.5rem;
        transition: transform 0.3s ease-in-out;
        height: 330px;
        img {
          width: 350px;
          object-fit: cover;
          @include rounded;
        }
      }
      overflow-x: hidden;
    }
  }
}
