@import "./mixins.scss";
@import "./colors.scss";
@import "./grid.scss";

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: $background_light;
}
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-thumb {
  background-color: $secondary_background_light;
  @include rounded;
}
.container {
  @include container;
}