@import './colors.scss';
@import './breakpoints.scss';

@mixin H96Light {
  font-weight: 300;
  font-size: 6rem;
}
@mixin H48 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
}
@mixin H48Light {
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.25rem;
}
@mixin H42 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 3.125rem;
}
@mixin H32 {
  font-weight: 600;
  font-size: 2rem;
}
@mixin H32Light {
  font-weight: 300;
  font-size: 2rem;
}
@mixin H24 {
  font-weight: 600;
  font-size: 1.5rem;
}
@mixin H20 {
  font-weight: 600;
  font-size: 1.25rem;
}
@mixin H18 {
  font-weight: 500;
  font-size: 1.125rem;
}
@mixin H16 {
  font-weight: 600;
  font-size: 1rem;
}
@mixin H16Light {
  font-weight: 300;
  font-size: 1rem;
}
@mixin H12 {
  font-weight: 600;
  font-size: 0.75rem;
}
@mixin H10 {
  font-weight: 500;
  font-size: 0.75rem;
}

// @mixin H1000 {
//   font-family: 'Rubik', 'sans-serif';
//   font-weight: 300;
//   font-size: 4rem;
//   line-height: 6.5rem;

//   @include mobile {
//     font-size: 3rem;
//     line-height: 3.5rem;
//   }
// }
